<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h5 class="card-title">Add Product</h5></div>
      <div class="card-body">
        <form [formGroup]="productAddForm">
          <div class="form-group">
            <div class="mb-3">
              <label for="productName">Product Name</label>
              <input
                type="text"
                name=""
                id="productName"
                formControlName="productName"
                class="form-control"
                placeholder="Product Name"
              />
            </div>

            <div class="mb-3">
              <label for="categoryId">Category Id</label>
              <input
                type="number"
                name=""
                id="categoryId"
                formControlName="categoryId"
                class="form-control"
                placeholder="Product Name"
              />
            </div>

            <div class="mb-3">
              <label for="uintsInStock">Units in Stock</label>
              <input
                type="number"
                name=""
                id="unitsInStock"
                formControlName="unitsInStock"
                class="form-control"
                placeholder="Units In Stock"
                categoryId
              />
            </div>

            <div class="mb-3">
              <label for="unitPrice">Unit Price</label>
              <input
                type="number"
                name=""
                id="unitPrice"
                formControlName="unitPrice"
                class="form-control"
                placeholder="Unit Price"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button (click)="add()" class="btn btn-success" type="button">
          Kafa Kesecem Abi
        </button>
      </div>
    </div>
  </div>
</div>
